<div class="avatar-center w-100 d-flex justify-content-center align-items-center flex-column my-6 fadein-up">
    <div class="avatar-row d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="avatar-wrapper">
            <div
                class="avatar rounded-circle shadow"
                id="avatar"
                role="img"
                aria-label="Profile Photo"
                style="width: 270px; height: 270px"
            ></div>
        </div>
        <div
            class="profile flex-grow-1 text-md-start text-center ms-md-4 w-100"
            style="max-width: 420px; text-align: left"
        >
            <div class="title-section mb-2">
                <div class="role text-muted fs-6">Frontend-developer</div>
                <h1 id="about-heading" class="name fw-bold m-0">Alex Smith</h1>
            </div>
            <div class="description lead mb-3">
                Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis, risus non condimentum gravida,
                odio arcu cursus lorem, vel porta velit urna sed mi.
            </div>
            <div class="actions d-flex gap-3 justify-content-center justify-content-md-start mb-2 flex-wrap">
                <a href="#" class="btn btn-outline-light px-4" id="download-cv-btn" role="button">Download CV</a>
                <a href="#contacts" class="btn btn-secondary px-4" id="contact-btn" role="button">Contact</a>
            </div>
        </div>
    </div>
</div>
