.avatar-actions {
    display: flex;
    flex-direction: row;
    gap: 1.28rem;
    width: 100%;
    margin-top: 18px;
    align-items: center;
    justify-content: flex-start;
}
@media (max-width: 700px) {
    .avatar-actions {
        flex-direction: row;
        gap: 0.76rem;
        width: 100%;
        justify-content: flex-start;
        margin-top: 12px;
        align-items: center;
    }
}
