html,
body {
    min-height: 100%;
    background-color: #191c1f;
    background-image: none;
}
body {
    background: #191c1f;
    color: #f0f2f4;
}
.fadein-up {
    opacity: 0;
    transform: translateY(38px);
    transition: opacity 0.46s cubic-bezier(0.45, 0.09, 0.44, 1), transform 0.54s cubic-bezier(0.53, 0.01, 0.39, 1.3);
}
.fadein-up--active {
    opacity: 1;
    transform: none;
}
.scroll-margin-y {
    scroll-margin-top: 100px;
}
.block-title {
    color: #fff;
    font-size: 2.08rem;
    font-weight: 750;
    letter-spacing: 0.01em;
    margin-bottom: 0.62em;
    margin-top: 0;
    font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
    line-height: 1.11;
    padding: 0;
}
