:root {
    --color-bg: #191c1f;
    --color-fg: #f0f2f4;
    --color-surface: #23242a;
    --color-primary: #5bbcff;
    --color-accent: #a8b8e2;
    --color-success: #55c386;
    --color-error: #e25568;
    --color-border: #454851;
    --color-btn-bg: #454851;
    --color-btn-bg-hover: #636670;
    --color-white: #fff;
    --color-shadow: rgba(80, 120, 200, 0.03);
    --color-shadow-hover: rgba(70, 70, 90, 0.06);
    --color-avatar-fallback-bg: #b1bad9;
    --color-avatar-fallback-fg: #364060;
    --color-portfolio-arrow-bg: rgba(35, 36, 58, 0.95);
    --color-portfolio-arrow-icon: #fff;
    --color-portfolio-arrow-shadow: 0 2px 18px 0 rgba(30, 33, 43, 0.35);
    --color-portfolio-arrow-hover: #252736;
    --color-portfolio-arrow-active: #272c3d;
    --color-portfolio-arrow-icon-hover: #c9d2ff;
    --color-icon: #3985f2;
    --color-text: #868b8c;
}
html,
body {
    min-height: 100%;
    background-color: var(--color-bg);
    background-image: none;
}
body {
    background: var(--color-bg);
    color: var(--color-fg);
}
.fadein-up {
    opacity: 0;
    transform: translateY(38px);
    transition: opacity 0.46s cubic-bezier(0.45, 0.09, 0.44, 1), transform 0.54s cubic-bezier(0.53, 0.01, 0.39, 1.3);
}
.fadein-up--active {
    opacity: 1;
    transform: none;
}
.scroll-margin-y {
    scroll-margin-top: 100px;
}
.block-title {
    color: var(--color-white);
    font-size: 2.08rem;
    font-weight: 750;
    letter-spacing: 0.01em;
    margin-bottom: 0.62em;
    margin-top: 0;
    font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
    line-height: 1.11;
    padding: 0;
}
.sitecard-btn {
    display: inline-block;
    border-radius: 26px;
    font-size: 1.08rem;
    min-width: 154px;
    letter-spacing: 0.04em;
    font-weight: 500;
    padding: 0.5em 1.78em;
    border: 1.33px solid var(--color-border);
    background: var(--color-btn-bg);
    color: var(--color-white);
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 10px 0 var(--color-shadow) inset;
    transition: background 0.13s, color 0.13s, box-shadow 0.21s;
    outline: none;
    text-decoration: none !important;
    margin-left: 0.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.sitecard-btn:hover,
.sitecard-btn:focus {
    background: var(--color-btn-bg-hover);
    color: var(--color-white);
    border-color: var(--color-btn-bg-hover);
    box-shadow: 0 2px 38px 0 var(--color-shadow-hover);
    text-decoration: none !important;
}
@media (max-width: 700px) {
    .sitecard-btn {
        min-width: 120px;
    }
}
@media (max-width: 545px) {
    .sitecard-btn {
        min-width: 90px;
    }
}
