html,
body {
    min-height: 100%;
    background-color: #191c1f;
    background-image: none;
}
body {
    background: #191c1f;
    color: #f0f2f4;
}
.fadein-up {
    opacity: 0;
    transform: translateY(38px);
    transition: opacity 0.46s cubic-bezier(0.45, 0.09, 0.44, 1), transform 0.54s cubic-bezier(0.53, 0.01, 0.39, 1.3);
}
.fadein-up--active {
    opacity: 1;
    transform: none;
}
.scroll-margin-y {
    scroll-margin-top: 100px;
}
.block-title {
    color: #fff;
    font-size: 2.08rem;
    font-weight: 750;
    letter-spacing: 0.01em;
    margin-bottom: 0.62em;
    margin-top: 0;
    font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
    line-height: 1.11;
    padding: 0;
}
.sitecard-btn {
    display: inline-block;
    border-radius: 26px;
    font-size: 1.08rem;
    min-width: 154px;
    letter-spacing: 0.04em;
    font-weight: 500;
    padding: 0.5em 1.78em;
    border: 1.33px solid #454851;
    background: #454851;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgba(80, 120, 200, 0.03) inset;
    transition: background 0.13s, color 0.13s, box-shadow 0.21s;
    outline: none;
    text-decoration: none !important;
    margin-left: 0.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.sitecard-btn:hover,
.sitecard-btn:focus {
    background: #636670;
    color: #fff;
    border-color: #636670;
    box-shadow: 0 2px 38px 0 rgba(70, 70, 90, 0.06);
    text-decoration: none !important;
}
@media (max-width: 700px) {
    .sitecard-btn {
        min-width: 120px;
    }
}
@media (max-width: 545px) {
    .sitecard-btn {
        min-width: 90px;
    }
}
