.portfolio-section {
    scroll-margin-top: 100px;
}
.portfolio-ribbon {
    min-height: 400px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    min-height: 340px;
    margin-left: 3.5rem !important;
    margin-right: 3.5rem !important;
    cursor: grab;
    user-select: none;
    overflow-x: hidden !important;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    box-shadow: 0 7px 18px rgba(0, 50, 135, 0.08);
    scrollbar-width: none;
    transition: box-shadow 0.19s;
    padding-bottom: 0.7rem;
}
.portfolio-list.is-dragging {
    cursor: grabbing;
}
.portfolio-list::-webkit-scrollbar {
    display: none;
}
