html,
body {
    min-height: 100%;
    background-color: #191c1f;
    background-image: none;
}
body {
    background: #191c1f;
    color: #f0f2f4;
}
.fadein-up {
    opacity: 0;
    transform: translateY(38px);
    transition: opacity 0.46s cubic-bezier(0.45, 0.09, 0.44, 1), transform 0.54s cubic-bezier(0.53, 0.01, 0.39, 1.3);
}
.fadein-up--active {
    opacity: 1;
    transform: none;
}
.scroll-margin-y {
    scroll-margin-top: 100px;
}
