#cookie-notice {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    max-width: 920px;
    width: auto;
    margin: 0 auto 2.3vh auto;
    padding: 1.12em 2.15em 1.08em 2.15em;
    border-radius: 100vw;
    background: rgba(35, 36, 42, 0.93);
    color: #f2f7ff;
    font-size: 1.09em;
    letter-spacing: 0.015em;
    transition: opacity 0.18s cubic-bezier(0.39, 0.57, 0.8, 0.6), transform 0.25s cubic-bezier(0.39, 0.57, 0.8, 0.6),
        background 0.13s;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    box-shadow: none;
}
#cookie-notice.cookie-notice-visible {
    display: flex !important;
    opacity: 1;
    pointer-events: auto;
    animation: cookieNoticeFadeIn 0.32s cubic-bezier(0.16, 1.5, 0.51, 0.91);
}
@keyframes cookieNoticeFadeIn {
    from {
        opacity: 0;
        transform: translateY(2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#cookie-notice span {
    flex-grow: 1;
    text-align: left;
    margin-right: 2em;
    min-width: 0;
}
#cookie-notice button {
    display: inline-block;
    border-radius: 26px;
    font-size: 1.08rem;
    min-width: 154px;
    letter-spacing: 0.04em;
    font-weight: 500;
    padding: 0.5em 1.78em;
    border: 1.33px solid #454851;
    background: #454851;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgba(80, 120, 200, 0.03) inset;
    transition: background 0.13s, color 0.13s, box-shadow 0.21s;
    outline: none;
    text-decoration: none !important;
    margin-left: 0.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
#cookie-notice button:hover,
#cookie-notice button:focus {
    background: #636670;
    color: #fff;
    border-color: #636670;
    box-shadow: 0 2px 38px 0 rgba(70, 70, 90, 0.06);
    text-decoration: none !important;
}
#cookie-notice a {
    color: #7fb5fc;
    text-decoration: underline;
    transition: color 0.13s;
}
#cookie-notice a:hover,
#cookie-notice a:focus {
    color: #cedbfa;
}
#cookie-notice-accept {
    min-width: 154px;
}
@media (max-width: 545px) {
    #cookie-notice {
        flex-direction: column;
        font-size: 0.98em;
        padding: 0.82em 0.7em 0.92em 0.7em;
        gap: 0.8em !important;
        border-radius: 100vw;
        margin-bottom: 0.85em;
        max-width: 99vw;
        align-items: stretch;
        justify-content: stretch;
    }
    #cookie-notice span {
        margin-right: 0;
        margin-bottom: 0.75em;
        text-align: center;
    }
    #cookie-notice button {
        min-width: 90px;
    }
    #cookie-notice-accept {
        min-width: 120px;
    }
}
