<div class="popup-qr-form">
    <button class="popup-close" type="button">&times;</button>
    <canvas id="qr-canvas" width="620" height="620"></canvas>
    <div class="qr-color-picker-container">
        <input type="color" id="qr-color-dark" name="qr-color-dark" class="qr-color-circle" aria-label="Select QR foreground color">
        <input type="color" id="qr-color-light" name="qr-color-light" class="qr-color-circle" aria-label="Select QR background color">
    </div>
    <button class="sitecard-btn" id="qr-copy-btn" type="button" style="display:block;margin:1em auto 0 auto;">Copy</button>
    <div class="qr-instruction">Scan to open homepage of this site</div>
</div>
