.avatar {
    width: 270px;
    height: 270px;
    object-fit: cover;
    box-shadow: 0 2px 18px rgba(30, 30, 45, 0.12);
    border: 6px solid #23272d;
    border-radius: 50%;
    margin-bottom: 0;
    transition: box-shadow 0.3s;
    background: #d6d6d8;
}
.avatar:hover {
    box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.06);
}
