.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 420px;
    width: 100%;
    text-align: left;
}
.title-section {
    margin-bottom: 0.7rem;
}
.role {
    letter-spacing: 0.02em;
    margin-bottom: 0.18em;
    color: #8da5c3;
    font-size: 1.15rem;
    font-weight: 500;
}
.name {
    font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
    line-height: 1.07;
    font-size: 2.65rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
}
.description {
    font-size: 1.07rem;
    color: #7d8085;
    margin-bottom: 1.25rem;
    line-height: 1.45;
}
